# SPDX-License-Identifier: GPL-2.0-only
#
# Mellanox GigE driver configuration
#

config MLXBF_GIGE
	tristate "Mellanox Technologies BlueField Gigabit Ethernet support"
	depends on (ARM64 || COMPILE_TEST) && ACPI && INET
	select PHYLIB
	help
	  The second generation BlueField SoC from Mellanox Technologies
	  supports an out-of-band Gigabit Ethernet management port to the
	  Arm subsystem.
