#
# QED power driver
#
menu "QED power driver for 4G, bluetooth, wifi, and vsc"
config QED_BTWIFI_PWR
       default n
       tristate "QED Telit 4G, bluetooth, wifi, and vsc support"
config QED_BTWIFI_PWR_COMPLIANCE_TEST
       default n
       tristate "QED Telit 4G module compilence test"
endmenu
